@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
	font-family: "FontAwesome";
	src: url('../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.eot');
	src: url('../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.eot?#iefix') format('eot'),
	url('../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
	url('../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../fonts/font-awesome-4.6.3/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

aside {
	width: 20%;
	vertical-align: top;
}

aside, .cont {
	display: inline-block;
}

body {
	background: #EEEEEE;
}

span.twitter-typeahead {
	display: block !important;
	width: 100% !important;
}

#button {
	display: inline-block;
	margin-left: 2em;
	width: 20%;
}

.btn-buscar {
	background: #689F38;
	color: #FFFFFF;
	padding: 0.8em 2em;
	width: 100%;
}

.btn-custom1 {
	border-radius: 0 !important;
	box-shadow: .2rem .1rem .1rem .1rem #a7a7a7, .2rem .1rem .1rem .1rem #a7a7a7;
}

.btn-connect {
	background: #689F38;
	color: #FFFFFF;
	margin-left: 42%;
	padding: 0.8em 2em;
}

.btn-principal {
	background: #689F38;
	color: #FFFFFF;
	display: block;
	margin-bottom: 1em;
	padding: 0.8em 2em;
}

.btn-register {
	background: #689F38;
	color: #FFFFFF;
	font-size: 26px;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 40%;
}

#buscar, #wrap {
	background: rgba(255,255,255,0.8);
	margin-top: 2em;
	padding: 1em 1em;
}

#buscar {
	width: 55%;
}

#company {
	text-align: center;
	width: 50%;
}

.cont {
	margin-left: 1em;
	width: 75%;
}

.container form> div {
	margin-bottom: 15px;
}

.contenido {
	background: rgba(190,190,190,0.8);
	display: inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	width: 33%;
}

#content {
	margin-top: 4em;
}

.error {
	color: #FF0000;
}

#footer {
	background: #333333;
	color: #EEEEEE;
	padding: 0.5em 0;
	text-align: center;
}

h1, h3 {
	text-align: center;
}

h1 {
	color: #689F38;
	font-size: 54px;
	font-weight: bold;
	margin: 0;
	padding-top: 1em;
}

header {
	background: url("../images/fondo.jpg") no-repeat center center fixed;
	background-size: cover;
	padding-top: 2em;
	padding-bottom: 3em;
}

#icon {
	font-size: 22px;
}

img {
	vertical-align: top;
}

#infor {
	display: block;
	margin: 10% 0;
}

#login {
	background: rgba(255,255,255,0.9);
	padding: 2em;
}

.navbar-brand {
	font-size: 28px;
	margin-left: 2em;
	text-decoration: none; 
}

.navbar-default {
	background: #8BC34A;
	margin: 0;
	box-shadow: .4rem .1rem .1rem .1rem #a7a7a7, .4rem .1rem .1rem .1rem #a7a7a7;
}

.navbar-default a {
	color: #EEEEEE !important;
	text-shadow: 1px 1px 0px #800400;
}

.dropdown-menu a {
	color: #333333 !important;
	text-shadow: 0px 0px 0px;
}

.navbar-right {
	margin-right: 4em;
}

p {
	font-size: 22px;
	margin-bottom: 1em;
}

#registro {
	padding-top: 2em;
	padding-bottom: 2em;
}

.required:after {
	content: " (*)";
}

.titulo, .subtitulo {
	text-shadow: 1px 1px 1px #FFFFFF;
}

.subtitulo {
	color: #689F38;
	font-size: 26px;
}

.table {
	margin-top: 2em;
}

#view {
	display: inline-block;
	margin-left: 2em;
	width: 50%;
}

@media (max-width: 1200px) {
	#button {
		text-align: center;
		display: block;
		margin-top: 1em;
		margin-left: 0;
		width: 100%;
	}
	.btn-principal {
		display: inline-block;
	}
} 

@media (max-width: 991px) {
	#button {
		text-align: center;
		display: block;
		margin-top: 1em;
		margin-left: 0;
		width: 100%;
	}
	#buscar, #wrap {
		width: 95%;
	}
	.btn-principal {
		display: inline-block;
	}
	#company {
		width: 100%;
	}
	.cont {
		margin-left: 0;
	}
	.contenido {
		width: 32.9%;
	}
	img {
		margin-top: 1em;
	}
	#infor {
		display: none;
	}
	#login {
		margin: 0 2em;
	}
	p {
		font-size: 18px;
	}
	span {
		font-size: 1em;
	}
	#view {
		width: 60%;
	}
}

@media (max-width: 767px) {
	aside, .cont {
		display: block;
		width: 100%;
	}
	#button {
		text-align: center;
		display: block;
		margin-top: 1em;
		margin-left: 0;
		width: 100%;
	}
	#buscar, #wrap {
		width: 90%;
	}
	.btn-connect {
		margin-left: 40%;
	}
	.btn-principal {
		display: inline-block;
	}
	#company {
		width: 100%;
	}
	.cont {
		margin-left: 0;
	}
	.contenido {
		display: block;
		margin-bottom: 0.5em;
		width: 100%;
	}
	h1 {
		font-size: 38px;
	}
	h2, .subtitulo {
		font-size: 20px;
	}
	img {
		margin-top: 1em;
		height: 30%;
		width: 30%;
	}
	#view {
		margin-left: 1em;
		width: 60%;
	}
}