.container
  p
    padding 10px
    text-align justify
    font-size 1em
  h4
    border-bottom 1px solid grey
    margin-top 15px

  #btn-to-bottom
    position relative
    cursor pointer
    i.to-bottom
      position absolute
      background-color rgba(0, 128, 0, 0.45) !important
      border-radius 5px
