{# app/Resources/FOSUserBundle/views/Security/login.html.twig #}
{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}Acceso{% endblock %}
{% block body %}
    {% block content %}
		{% block fos_user_content %}
			<div class="container" id="content">
				<div class="row">
					<div class="col-md-6" id="infor">
						<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Gestiona tus reservas</p>
						<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Gestiona tus pedidos online</p>
						<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Administra la configuraci칩n de tu cuenta</p>
					</div>
					<div class="col-md-6" id="login">
						<h3>Acceso clientes</h3>
						<hr>
						{% if error %}
							<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div><br />
						{% endif %}
						<form action="{{ path('client_check') }}" method="post">
							<div class="form-group">
								<label for="username" class="control-label">Usuario</label>
								<input type="text" class="form-control" id="username" name="_username" value="" placeholder="Usuario">
							</div>
							<div class="form-group">
								<label for="password" class="control-label">Contrase침a</label>
								<input type="password" class="form-control" id="password" name="_password" placeholder="Contrase침a">
							</div>
							<div class="form-group">
								<input type="checkbox" name="remember"> Recordar contrase침a
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-connect">Conectar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
        {% endblock fos_user_content %}
        {% block javascripts %}
            {{parent()}}
        {% endblock %}
    {% endblock %}
{% endblock %}