{# src/Manage/CompanyBundle/Resources/views/Page/index.html.twig #}
{% extends 'ManageCompanyBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container">
		<h1>Hola mundo!</h1>
	</div>
{% endblock %}
