{# src/Manage/CompanyBundle/Resources/views/Pages/register_form.html.twig #}
{% extends 'ManageCompanyBundle:Base:base.html.twig' %}

{% block stylesheet %}
   {{ parent() }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="panel">
        <h1>Registra tu empresa</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-3">Nombre de la empresa:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="company-name" name="company-name" placeholder="Restaurante">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">NIF:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="company-nif" name="company-nif" placeholder="123456789A">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Nombre:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="businessman" name="businessman" placeholder="Nombre">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Apellidos:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="last-name" name="last-name" placeholder="Apellidos">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Email:</label>
            <div class="col-xs-9">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Dirección:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="address" name="address" placeholder="Calle, Plaza, etc">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Ciudad:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="city" name="city" placeholder="Córdoba">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Código postal:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="postal-code" name="postal-code" placeholder="20800">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Nombre de usuario (Nombre con el que iniciarás sesión):</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="usernam" name="usernam" placeholder="20800">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Password:</label>
            <div class="col-xs-9">
                <input type="password" class="form-control" id="password" name="password" placeholder="Confirmar Password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Confirmar Password:</label>
            <div class="col-xs-9">
                <input type="password" class="form-control" id="password-repeat" name="password-repeat" placeholder="Confirmar Password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Nombre:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" placeholder="Nombre">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Apellido:</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" placeholder="Apellido">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Telefono:</label>
            <div class="col-xs-9">
                <input type="tel" class="form-control" placeholder="Telefono">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">F. Nacimiento:</label>
            <div class="col-xs-3">
                <select class="form-control">
                    <option>Dia</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select class="form-control">
                    <option>Mes</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select class="form-control">
                    <option>Año</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Dirección:</label>
            <div class="col-xs-9">
                <textarea rows="3" class="form-control" placeholder="Dirección"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Genero:</label>
            <div class="col-xs-2">
                <label class="radio-inline">
                    <input type="radio" name="genderRadios" value="male"> Maculino
                </label>
            </div>
            <div class="col-xs-2">
                <label class="radio-inline">
                    <input type="radio" name="genderRadios" value="female"> Femenino
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <label class="checkbox-inline">
                    <input type="checkbox" value="news"> Enviar noticias.
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <label class="checkbox-inline">
                    <input type="checkbox" value="agree">  Accepto <a href="#">Terminos y condiciones</a>.
                </label>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Enviar">
                <input type="reset" class="btn btn-default" value="Limpiar">
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}