{# src/ManageCompanyBundle/Resources/views/Page/layout.html.twig #}
{% extends 'ManageCompanyBundle:Page:base.html.twig' %}

{% block body %}
	{% block navigation %}
		<nav role="navigation" class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Click & Eat</a>
			</div>
		</nav>
	{% endblock %}
	
	{% block content %}
	
	{% endblock %}
	
	{% block footer %}
	
	{% endblock %}
{% endblock %}