c1 = #8BC34A
c2 = #4fff8

.navbar-default .navbar-brand , .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-nav>li>a
  color #fffffa !important
  &:active
    color #000000

.primary-color
  background-color c1

.form-search
  width 80%
  margin 0 auto
  .btn-large
    width 100%